<mat-card>
   
    <mat-card-header>
        <h1>Update data user</h1>
    </mat-card-header>
   
    <mat-card-content>
        <form class="example-form" [formGroup]="updatedForm" (ngSubmit)="updateUser()">

            <mat-form-field class="example-full-width">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role">
                    <mat-option value="">Select Role</mat-option>
                    <mat-option *ngFor="let item of roleList" [value]="item.code">
                        {{ item.name }}
                    </mat-option>  
                </mat-select>
            </mat-form-field>

            <div class="mat-checkbox">
                <mat-checkbox class="example-margin" formControlName="isactive">Is Active</mat-checkbox>
            </div>

            <div class="button-registration">
                <button mat-raised-button color="primary"> Update</button>
                <a mat-dialog-close mat-raised-button color="accent">close</a>
            </div>
        </form>
  </mat-card-content>
</mat-card>


  